@import url("https://use.typekit.net/xea5ciz.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        border: 0;
    }

    html {
        -webkit-font-smoothing: antialiased;
        box-sizing: border-box;
        overflow: auto;
        -webkit-text-size-adjust: 100%;
        font-feature-settings: "clig" off, "liga" off;
    }

    body {
        line-height: 1;
        width: 100%;
        @apply text-text;
        font-size: 16px;
        @apply font-default;
        @apply bg-primarySupport;
    }
}

a.active {
    @apply border-solid
    border-[1px]
    border-[rgba(51,54,62,0.50)]
    bg-gradientmain
    text-white;
}

a.active svg {
    @apply stroke-primaryLight;
}

@layer utilities {
    .bg-transparent {
        background-color: transparent;
    }

    .bg-gradientmain {
        background: linear-gradient(90deg, rgba(36, 40, 51, 0.5) 0%, rgba(50, 51, 55, 0.5) 53.86%);
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    .font-h1 {
        font-size: 72px;
        line-height: 76px;
        font-weight: 700;
        font-family: "Mundial", sans-serif;
    }
    .font-h2 {
        font-size: 46px;
        line-height: 53px;
        font-weight: 600;
        letter-spacing: -2px;
        font-family: "Mundial", sans-serif;
    }
    .font-h3 {
        font-size: 36px;
        line-height: 38px;
        font-weight: 600;
        letter-spacing: 0px;
        font-family: "Mundial", sans-serif;
    }
    .font-h4 {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        letter-spacing: 0px;
        font-family: "Mundial", sans-serif;
    }
    .font-large-normal {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        font-family: "Mundial", sans-serif;
    }
    .font-large-medium {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        font-family: "Mundial", sans-serif;
    }
    .font-large-semibold {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        font-family: "Mundial", sans-serif;
    }
    .font-medium-normal {
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        font-family: "Mundial", sans-serif;
    }
    .font-medium-medium {
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        font-family: "Mundial", sans-serif;
    }
    .font-medium-semibold {
        font-size: 18px;
        line-height: 22px;
        font-weight: 600;
        font-family: "Mundial", sans-serif;
    }
    .font-standard-normal {
        font-size: 16px;
        line-height: 21px;
        font-weight: 400;
        font-family: "Mundial", sans-serif;
    }
    .font-standard-medium {
        font-size: 16px;
        line-height: 21px;
        font-weight: 500;
        font-family: "Mundial", sans-serif;
    }
    .font-standard-semibold {
        font-size: 16px;
        line-height: 21px;
        font-weight: 600;
        font-family: "Mundial", sans-serif;
    }
    .font-small-normal {
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        font-family: "Mundial", sans-serif;
    }
    .font-small-medium {
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        font-family: "Mundial", sans-serif;
    }
    .font-small-semibold {
        font-size: 14px;
        line-height: 20px;
        font-weight: 600;
        font-family: "Mundial", sans-serif;
    }
    .font-xsmall-normal {
        font-size: 12px;
        line-height: 18px;
        font-weight: 400;
        font-family: "Mundial", sans-serif;
    }
    .font-xsmall-medium {
        font-size: 12px;
        line-height: 18px;
        font-weight: 500;
        font-family: "Mundial", sans-serif;
    }
    .font-xsmall-semibold {
        font-size: 12px;
        line-height: 18px;
        font-weight: 600;
        font-family: "Mundial", sans-serif;
    }

    .shadow-custom {
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.05), 0px 4px 16px 0px rgba(0, 0, 0, 0.05), 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
    }
}

@layer components {
}
